<div class="nav">
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
      <a class="navbar-brand">Angular Router</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link"[routerLink]="['register']">Register</a></li>
        <li class="nav-item"><a class="nav-link"[routerLink]="['about']">About</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['cources']">Courses</a></li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<footer class="container-fluid text-center bg-lightgray">

  <div class="copyrights" style="margin-top:25px;">
    <p>Angular2 practicing footer
      <br>
      <span>Web Design By: Rambabu</span></p>
  </div>
</footer>
